[2015-08-09 09:38] ovr opened #1 "Implement Twitter provider"

[2015-08-09 09:38] ovr opened #2 "Implement Steam provider"

[2015-08-09 09:39] ovr opened #3 "Implement LinkedIn provider"

[2015-08-09 09:39] ovr opened #4 "Implement Google provider"

[2015-08-14 16:50] ovr commented on #1
Implemented

[2015-08-14 16:50] #1 closed

[2015-08-19 01:30] ovr opened #5 "Implement PayPal provider"

[2016-03-15 10:26] ovr commented on #4
Close, via implemented by @layershifter
Thanks

[2016-03-15 10:26] #4 closed

[2016-07-02 21:38] anakrooz opened #8 "Google Provider class missing in composer.json"
Unable to auth with Google because the class is not found, maybe because the link is missing in th composer.json file "autoload":
`"SocialConnect\\Google\\": "providers/Google/"`

Adding it in my own composer.json "autoload" (with full path) make it work:
[code]

[2016-07-04 08:54] layershifter commented on #8
@anakrooz, it's my miss. I made PR that fixes this issue.

ping @ovr

[2016-07-04 15:26] #8 closed

[2016-07-04 15:27] ovr commented on #8
Seems It's fixed

Thanks @layershifter 👍

[2016-12-30 21:55] TomHAnderson opened #10 "Create new release to support Google psr-4 fix"
ssia

[2017-01-17 08:25] ovr commented on #10
Thanks, I will release it today

[2017-01-17 08:29] ovr commented on #10
Released!

[2017-01-17 08:29] #10 closed

[2017-02-04 18:00] ovr commented on #2
Implemented, in `master` 😺 :

[2017-02-04 18:00] #2 closed

[2017-02-04 18:00] ovr opened #15 "Implement Yahoo provider"

[2017-02-04 18:00] ovr opened #16 "Implement Tumblr"

[2017-02-04 18:03] ovr opened #17 "Implement Yahoo"

[2017-02-11 09:59] #17 closed

[2017-02-11 09:59] ovr commented on #16
Implemented in `master`

[2017-02-11 09:59] #16 closed

[2017-02-17 16:00] CallumBrankin opened #25 "non proper nbf claim check in JWT.php"
in /auth/src/OpenIDConnect/JWT.php the nbf claim check doesn't match RFC7519 standards where it says "The processing of the "nbf" claim requires that the current date/time MUST be **after or equal** to the not-before date/time listed in the "nbf" claim.".

Currently the nbf claim check only checks if the current date/time is **after** the nbf claim. as seen below:

[code]

I tried to correct this

[2017-02-17 16:05] CallumBrankin opened #26 "Validate function in JWT.php doesn't account for time "screw""
Validate function in /auth/src/openidconnect/JWT.php doesn't account for time "screw".

Currently the function gets the current time as
`$now = time();`
but this doesn't account for time screw, sometimes causing an exception where the auth_time is a single unix time unit before the nbf claim.

I've corrected this by adding a "proper now" time by adding a single unit to the unix time as shown below

[2017-02-17 16:26] ovr commented on #26
I think the most proper way should be that `screw`/`leway` should be done on the provider side when they prepare `payload` like

`$time - 20`

but anyway We can add "this hack"

[2017-02-17 16:27] ovr commented on #25
Hey!

What was a problem? What provider are you using? (`screw`/`leway`)?

Thanks

[2017-02-17 16:39] CallumBrankin commented on #25
I'm using my companies provider called [PixelPin](https://www.pixelpin.co.uk). PixelPin is a passwordless sso that uses pictures instead of password.

I've successfully implemented PixelPin into your plugin to be used on Zend Framework 3 using [OrgHeiglHybridAuth ](https://github.com/heiglandreas/HybridAuth).

Currently we're updating our plugins to use OpenID Connect as we will be an OpenID conne

[2017-02-17 16:40] CallumBrankin commented on #26
Adding a single unix time unit may not be enough, maybe +2 would make sure it's reliable.

[2017-02-17 16:44] CallumBrankin opened #27 "socialconnect.lowl.io certificate error"
When i try to go to socialconnect.lowl.io i get a certificate error.

full error details:

SUBJECT: CN=dmtry.me

[2017-02-17 16:53] ovr commented on #27
Just, give me "few" time, I am working on the site for this library
As you can see it's new library :)

[2017-02-17 17:50] ovr commented on #25
I added equal to the `nbf` in https://github.com/SocialConnect/auth/commit/e4da4db4c0b3766cf95314f1fd92154a4388dfa6
As described in issue, I fix this moment -> this is fixedissue
I am going to close this issue

Thanks

[2017-02-17 17:50] #25 closed

[2017-02-21 19:23] dejurin opened #28 "Facebook: Invalid state"
[code]
Message: Invalid state

[2017-02-21 19:29] #28 closed

[2017-02-23 08:43] far4599 opened #29 "Check if session shall be started"
Start session if session does not exist:

[code]

[2017-02-23 16:24] ovr commented on #29
Hey!

Thank you for bug reporting, I am going to prepare patch and new release!

[2017-02-23 16:48] ovr commented on #29
I submitted patches to master (`1.1` branch - it's new upcoming release - `dev-master`)
And I released 1.0.1 (patch for `1.0` release)

Thanks

[2017-02-23 16:48] #29 closed

[2017-02-24 09:59] #26 closed

[2017-02-24 10:00] ovr commented on #26
Hey @CallumBrankin
You issue should be fixes now in `master` branch it's (`1.1` release), will be released ASAP
w8thing tests for JWT\JWK

You can try with `dev-master` release

Thanks

[2017-02-24 16:15] ovr commented on #25
@CallumBrankin Nope, It was wrong fix, it's not needed to `>=`, I review RFC again when writting tests https://github.com/SocialConnect/auth/pull/30

[2017-02-25 15:40] ovr commented on #27
Moved to https://sc.lowl.io/

[2017-02-25 15:40] #27 closed

[2017-02-28 15:41] trustinbharat opened #31 "Issue with Login on Facebook in-app browser"
Hello there

My web application is coded in Ruby on Rails. The website has a modal "Login/ Sign-up". When the user clicks on "Login-with-Facebook", another page opens up which takes care of Facebook and Twitter Login. After the user is logged-in, the pop-up closes automatically and the user returns to the page of the website as logged-in. Everything works perfectly fine in all browsers. However, w

[2017-02-28 15:59] ovr commented on #31
Hey! First, question are not related to this repo!

Looks like after this step, modal should be closed

If I understand your directly it's a popup

Popup/window can be closed automatically by JS, `window.close();`

[2017-02-28 15:59] #31 closed

[2017-02-28 16:05] trustinbharat commented on #31
The pop up closes on the normal browser. But in the in-app browser, the Facebook does not actually opens a pop-up. Rather it leaves the home-page of the website and goes to the page where Facebook asks for credentials. After that the user remain there stuck. The issue is only with in-app browser of facebook.

[2017-03-01 05:34] ovr commented on #31
Can you share screenshots? I cannot explain what does it mean "in-app browser" of facebook

[2017-03-23 15:48] ovr opened #32 "mt_rand is a linear alg, will be better to provide more true way"
consider using openssl_random_pseudo_bytes() instead.

[2017-03-25 14:48] alupher opened #33 "Implement Weibo provider"

[2017-03-25 14:48] alupher opened #34 "Implement QQ provider"

[2017-03-31 16:12] vitalybaev opened #38 "Facebook can't get access_token"
I've got error when try to get Facebook access_token. I investigated this issue and found, that `parseToken` method of `\SocialConnect\OAuth2\AbstractProvider` is used. That method using `parse_str($body, $token);` function to parse. But I've got json from Facebook.
It could be simple to override this method on Facebook provider class, but I'm not quiet sure that it would be done this way.
Thanks!

[2017-03-31 17:25] ovr commented on #38
Thank you 😸 , problem was fixed in `1.2.1` release

You are welcome 🍻

[2017-03-31 17:25] #38 closed

[2017-04-06 06:02] ADmad commented on #32
You can make a method similar [this](https://github.com/cakephp/cakephp/blob/master/src/Utility/Security.php#L100) which tries to use best available function first with fallback to the next best.

[2017-04-06 13:21] ovr opened #40 "Implement PixelPin"

[2017-04-06 13:21] ovr commented on #40
Cc @CallumBrankin, looks like you should be interested

Thank

[2017-04-06 14:51] CallumBrankin commented on #40
Yeah i'll do it, no problem

[2017-04-06 14:52] CallumBrankin commented on #40
I've already done it locally

[2017-04-08 05:53] ovr commented on #32
@ADmad I will review it, thank

[2017-04-20 14:26] blackchineykh opened #46 "How to store original URL in state"
Hi, I have successfully implemented this library in my vanilla php website. Thank you so much for your work on this as this has made it easy to implement oauth. However, I am not so familiar with the specc and from reading I noticed there is a 'state' variable that I can use to maintain the original URL of my user before attempting to login. I want to store this URL and then after successful oauth

[2017-04-20 18:44] ovr commented on #46
Hey!

`state` parameter is useful in preventing CSRF attacks. It's not an url, it's a crypto secure string.

https://github.com/SocialConnect/auth/blob/master/src/OAuth2/AbstractProvider.php#L68

[2017-04-26 02:34] ovr commented on #46
I am going to close this issue, but feel free to ask another questions

Thank

[2017-04-26 02:34] #46 closed

[2017-04-26 02:59] ovr commented on #46
Looks like this should be done in your code

You should store $_SERVER['REQUEST_URI'] or $this->request->(uri) in Session

or on pure php:

[code]

And after all try redirect $this->response->redirect or header('Location: ' . $this->session->get('stored_key_for_url')) or similar coder

About redirect/getting url/session you should read in your framework or on php.net

[2017-05-03 22:56] ovr commented on #40
Implemeneted by @CallumBrankin 👍

[2017-05-03 22:56] #40 closed

[2017-05-16 12:37] ovr opened #49 "Implement MSN provider"

[2017-05-23 08:34] ovr commented on #49
Implemented, w8ting v1.4.0 release

[2017-05-23 08:34] ovr opened #50 "Implement Salesforce Provider"

[2017-05-27 20:13] jens1o opened #51 "Implement Smashcast provider"
https://developers.smashcast.tv/#oauth-flow

[2017-05-28 07:54] ovr commented on #51
Hey! Are you planning to implement it? (this will be rly awesome) or you request it? Thank

[2017-05-28 07:55] jens1o commented on #51
Actually both. I had implemented this on a personal project, so I think I can handle that.

[2017-05-28 07:56] ovr commented on #51
Will be rly cool if you submit PR, Thank.

[2017-05-28 08:00] jens1o commented on #51
But I have one question. The implementation is very abstract, and their oauth process does not fit in any of these... What should I do?

[2017-05-28 08:02] jens1o commented on #51
It fits the best to oauth2.

[2017-05-28 08:09] ovr commented on #51
Okey, Just give me time, I will take a look and try to implement it, ~15m

[2017-05-28 08:15] jens1o commented on #51
uh, ah, thanks!

[2017-05-28 08:53] ovr commented on #51
@jens1o I cannot finish support for it, because they Oauth process is not OAuth and API sucks
I cannot get user without $userId, and the biggest problem I dont known $userId

https://github.com/SocialConnect/auth/pull/52

[2017-05-28 08:58] jens1o commented on #51
You can do that, I just replied how it works.

[2017-05-28 10:36] ovr commented on #51
@jens1o Thank you bro for your reply, I will try but soon as possible

[2017-07-09 12:28] DemonRs opened #53 "Implement Steein Provider"
https://www.steein.ru/developers/docs/overview
https://github.com/SteeinRu/oauth2-steein

Thank you in advance

[2017-07-09 12:49] ADmad opened #54 "Error handling required for cancelled facebook login."
Currently if we follow the code example showed in readme

[code]
if a user has canceled the login you end with an error

[code]

The querystring for callback URL in this case look like

[code]

So `AbstractProvider::getAccessTokenByRequestParameters()` needs to properly handle this case and perhaps throw an exception.

[2017-07-09 14:09] #54 closed

[2017-07-09 15:37] #53 closed

[2017-07-09 15:45] ovr commented on #51
Implemented in `master` and release in `1.4.0` 🍾

[2017-07-09 15:45] #51 closed

[2017-07-09 16:09] ovr commented on #49
Implemented  and release in `1.4.0` 🍾

[2017-07-09 16:09] #49 closed

[2017-07-09 18:04] jens1o commented on #51
wow... Thanks!

[2017-08-16 16:27] speller opened #57 "Hardcoded return URL"
Hello,
Thank you for the great package!
But I have an issue. I use Symfony and want not to use harcoded URLs for auth start and callback methods. In controller I use the `$this->generateUrl('auth_start', ['provider' => 'provider_name'], UrlGeneratorInterface::ABSOLUTE_URL)` and `$this->generateUrl('auth_callback', ['provider' => 'provider_name'], UrlGeneratorInterface::ABSOLUTE_URL)` methods respe

[2017-08-16 16:31] speller commented on #57
If I pass `redirectUri` parameter equals to `http://host/url/` I get the result URL `http://host/url//facebook`. Could you, at least, avoid double slashes on URL generation?

[2017-08-18 18:26] ovr commented on #57
Hey! Thank you for bug report, about

double slash in the case, looks like you specify callback url by `http://..../auth/cb/`

last slash not needed,

I don`t know 😸

So, I am going to take time and think about this moment

Probably, I will introduce some changes that will help to improve situations with url

Thanks

[2017-08-21 12:08] ADmad opened #58 "Enhancement: Add stateless mode."
`laravel/socialite` which provides OAuth authentication for laravel has [Stateless Authentication](https://github.com/laravel/socialite#stateless-authentication) mode. Would be nice if `socialconnect/auth` also had such a feature.

[2017-08-21 12:30] ovr commented on #58
Hey @ADmad

I cannot explain why it's rly needed, because state is needed (security reason) for `makeAuthUrl`/`getAccessTokenByRequestParameters`

For `getIdentity` method, it's not needed

Can you provide a case, why it's rly needed =)

Thank

[2017-08-21 12:53] ADmad commented on #58
`laravel/socialite`'s readme states "This is useful when adding social authentication to an API".

As per [OAuth2's specs](https://tools.ietf.org/html/rfc6749#section-4.1.1) maintaining state between authorization request and callback is recommended but it's not a must.

So question is whether we want to provide a slightly less secure mode of operation :)

[2017-08-26 17:38] ovr commented on #32
@ADmad I added, https://github.com/SocialConnect/auth/commit/c5c7c032b8af782926955d064a428f2dd756091f

looks likes I can close this issue, what is your opinion, thank!

[2017-08-26 18:52] ADmad commented on #32
Instead of the method existence checks and fallbacks I would suggest just adding `paragonie/random_compat` as dependency which provides `random_bytes()` polyfill.

[2017-08-27 15:35] #32 closed

[2017-10-22 20:00] ovr opened #60 "Hey Guest! Feel free to submit PR with Provider that you need!"
Hey Guest!

Feel free to submit PR with Provider that you need!

Thank

[2017-11-13 05:15] anuj9196 opened #61 "help needed in implementing twitter"
I have tried this
[code]

But it is giving error as
[code]

[2017-11-13 05:24] ADmad commented on #61
[This](https://github.com/SocialConnect/auth/blob/master/example/config.php.dist#L16) is what your config array is supposed to look like.

[2017-11-13 05:33] anuj9196 commented on #61
Thanks a lot.
Do I need to include
[code]
to get email

[2017-11-13 06:14] anuj9196 commented on #61
It is giving error
[code]

[2017-11-13 14:55] ovr commented on #61
@anuj9196 Please take a look at example of the configuration

We don't support any flag like `includeEmail`, it's required by default

![image](https://user-images.githubusercontent.com/572096/32731730-a7887bf2-c89b-11e7-80bb-f78278bd6d22.png)

[2017-11-13 17:42] anuj9196 commented on #61
that's okay, but what about the `InvalidResponse` Exception `Provider response is not success`?

[2017-11-28 14:21] ADmad opened #62 "No public interface to get reponse instance from `InvalidResponse`"
`SocialConnect\Provider\Exception\InvalidResponse` has the response instance as a protected property. There should be a public method to access the response instance so that it can be used for logging/debugging purposes.

[2017-11-28 14:30] ovr commented on #62
@ADmad Hey! Wow, great idea, can you submit PR with this feature?

[2017-11-28 19:32] #62 closed

[2017-11-28 19:32] ovr commented on #62
Implemented by @ADmad =)

[2017-11-29 09:43] ntoka opened #65 "Cannot connect to Google because of SSL verification error"
Hi, we are trying to connect login to our service through G+ using this plugin, but we get this SSL verification error:

'fopen(): SSL operation failed with code 1. OpenSSL Error messages: error:14090086:SSL routines:SSL3_GET_SERVER_CERTIFICATE:certificate verify failed fopen(): Failed to enable crypto fopen(https://accounts.google.com/o/oauth2/token): failed to open stream: operation failed'

Eve

[2017-11-30 19:29] ovr commented on #65
Hey! Sorry for long delay, what HTTP client do you use?

`\SocialConnect\Common\Http\Client\Curl()` or  `\SocialConnect\Common\Http\Client\Guzzle()`

Thank

[2017-11-30 19:38] ovr commented on #61
@anuj9196 Sorry for delay, can you provide more information about what response did you get from the Twitter? Thank

If it's secure please send me an email to `talk@dmtry.me`

BTW: I retested, twitter works for me

Thank

[2017-12-01 03:43] ADmad commented on #65
He's using my social connect plugin for cakephp. It uses cake's http client which uses sockets.

His problem is most likely related to outdated openssl lib on the server.  Refs https://github.com/ADmad/cakephp-social-auth/issues/24

[2017-12-31 02:09] blackchineykh commented on #46
Thanks. This works for me

[2018-01-09 12:51] ovr commented on #65
Thank @ADmad for explanation. I am going to close this issue due an inactivity of @ntoka

@ntoka feel free to ping, thank!

[2018-01-09 12:51] #65 closed

[2018-01-22 16:42] highstrike opened #67 "Additional auth url parameters"
Hello,

Using Google as provider on OAuth2, I have a situation where I would like to restrict the domain of the google account that is signing in and this can be done by adding an additional parameter called `hd`.
 [See here](https://stackoverflow.com/a/11001585/4524447)

Currently, I cannot add custom parameters unless i append them to the string that was generated by `makeAuthUrl()` which seems

[2018-01-29 14:57] ovr commented on #3
Implemented by @icex
Released in `1.7.0`

[2018-01-29 14:57] #3 closed

[2018-01-30 09:59] ovr commented on #15
Implemented by @icex
Release in `1.8.0`

[2018-01-30 09:59] #15 closed

[2018-02-12 05:29] muyline opened #70 "error use of array_merge in http curl"
hi, thanks for the code, it help me a lot.
when i add proxy in the http curl,but it can not work, then i found the reason is that the Curl.php which path is 'comon/src/Http/Client/Curl.php'.
in the construct function
`if ($parameters) {
            $this->parameters = array_merge($this->parameters, $parameters);
}`, the array_merge change the array to a indexed array.

`$this->parameters = $parame

[2018-02-12 05:52] ovr commented on #70
Hey!

referenced commit with fix, https://github.com/SocialConnect/common/commit/d00183126b7d4accead98d49dbf418c052bd2fc0

[2018-02-12 05:57] ovr commented on #70
Package `sociallconnect/common` released `1.0.3` with fix to this

Use `composer update` :)

I am going to close issue, feel free to re-open if it's not fixed for your

Thanks, Have a nice day 😸

[2018-02-12 05:57] #70 closed

[2018-02-12 06:59] muyline commented on #70
Thanks, I load the 1.0.3,  it works well

[2018-04-27 20:40] thapachaki commented on #61
@anuj9196 Perhaps you have "Enable Callback Locking" checked in your Application Settings. Uncheck it.
![captura de pantalla 2018-04-27 a la s 16 33 40](https://user-images.githubusercontent.com/12816865/39384096-a700429e-4a39-11e8-9283-e69cf0a86e41.png)

[2018-05-12 03:56] ovr commented on #57
I am implemented a solution to fix this problem, but due an BC break and semver
Fix will be released in `2.0.0`, I will close this issue when `2.0.0` will be released!

refs #b49d906

[2018-05-13 02:40] ovr commented on #67
I am implemented a solution to fix this problem, but this will be released in `2.0.0` 😸

configuration will be

[code]

[2018-05-13 02:49] ovr commented on #58
@ADmad is it okey if this 'option' will be for each provider as `options`? Thank

[2018-05-18 19:48] ADmad commented on #58
Yes :slightly_smiling_face:

[2018-05-24 17:28] ovr opened #73 "Feature: Introduce request method inside AbstractProvider"
Hey!

Original request from @ADmad

For e.g. let's say my site allows auth using Facebook and I also want to fetch the friends list of authenticated user. Having access to the http client of Facebook provider would allow me to easily make an API query to fetch friends list without additional effort of crafting a separate http client.

[2018-05-24 17:31] #57 closed

[2018-05-24 17:31] #67 closed

[2018-05-24 17:58] ovr commented on #58
Implemented and released inside `2.0.0` 😸

[2018-05-24 17:58] #58 closed

[2018-05-27 11:00] BassemN opened #75 "Implement Envato provider"
https://build.envato.com/api/#oauth

[2018-10-01 13:16] #61 closed

[2018-10-04 14:05] jens1o commented on #73
I'd love to take this. :)

[2018-10-19 15:10] ldim87 opened #81 "Facebook empty email"
Hi, I don't know if it is a library issue, but facebook returns null email even if permissions are set.

[2019-01-30 10:10] denkurbatov commented on #81
@ldim87 Are you sure that user has email? Facebook allows users to register by phone number.

[2019-01-30 12:45] ldim87 commented on #81
It is my user and I have email for sure (in fact I have two - one primary and one secondary)... maybe it is a facebook bug of some sort... In php script when I do:

$user = $provider->getIdentity($accessToken);
var_dump ($user);

output is:
object(SocialConnect\Common\Entity\User)#19 (10) { ["id"]=> string(17) "xxxxx" ["firstname"]=> NULL ["lastname"]=> NULL ["email"]=> NULL ["emailVerified"]=> bo

[2019-01-30 12:52] ovr commented on #81
@ldim87 did you configure `facebook` provider with?

[code]

Example https://github.com/SocialConnect/auth/blob/master/example/config.php.dist#L15

Thanks

[2019-01-30 13:06] ldim87 commented on #81
Yes, that's it... Thanks. I think you should update the README.md

[2019-01-30 13:07] ovr commented on #81
Nice Catch 👍

[2019-01-30 13:10] #81 closed

[2019-03-17 20:21] cherimo opened #83 "Twitter Unknown authorization"
Dear,

When I click on the Twitter option within my application it generates an Auth. Link to redirect. When I use that link to login everything is fine I get data etc...
But when I curl the same page with Post option(Provider) I get also a Auth. Link to redirect but when i go the link I end up with "Unknown authorization" I use Instagram, Linkedin and Facebook and that all works fine. Except Twit

[2019-06-09 08:01] ovr commented on #83
Hey! Sorry for late reply..

`UnknownAuthorization` is an error when there is no `oauth1_request_token` inside session

Standart session adapter use native/plain PHP sessions, you should take a look in your applications

I am going to close this issue, feel free to ask questions here

Thanks

[2019-06-09 08:01] #83 closed

[2019-09-12 07:31] ovr commented on #73
Will landed in `3.x`

[2019-09-12 07:31] #73 closed

[2019-09-15 11:28] ADmad opened #94 "Rename User::getSex()/setSex() to getGender()/setGender()"
In context of user's profile "gender" is the appropriate term rather than "sex". For example profile info provided by Google and Facebook also uses "gender".

So I propose that the methods, constants and property of `User` entity class should be renamed according.

Ideally this should have been done before the 3.0 release but perhaps we can still do this and maintain old names as aliases to avoid

[2019-09-15 11:37] ovr commented on #94
Hey!

I am agree with this ide, but 3.0 was released :(

Let's create aliases and mark old names as `@deprecated` in PHPDoc

Will be cool if anyone can help with PR

Thanks

[2019-09-15 16:16] ADmad commented on #94
There is another issue to consider. You force the gender(sex) to be either male or female only and `setSex()` throws exception for any other values.. That's not a good idea IMO.

For e.g. as per [Meetup's API docs](https://www.meetup.com/meetup_api/docs/2/member/#get) the gender value can be either `male`, `female`, `other` or `none`. So it would be best to simply set the gender/sex to whatever va

[2019-09-15 16:40] heiglandreas commented on #94
I can understand the idea to have a defined interface. But I'd also promote at least to have a third option 'other'. Gender is not binary. Whether one likes it or not, if this library tries to enforce a binary solution here it will backfire.

So instead of forcing male of female I'd default to `unknown` and be able to set either `male`, `female` or `other`. That way the `getGender`-method could *a

[2019-09-15 16:42] ADmad commented on #94
The method should still be able to return `null` to handle cases where gender isn't set in profile for for providers which don't return a gender at all.

[2019-09-15 16:49] ADmad commented on #94
There are issues with setting gender/sex in specific provider classes too.

For e.g. the `Facebook` has
https://github.com/SocialConnect/auth/blob/487293582eecdc2e23dd46330788a42cb5ae3e30/src/OAuth2/Provider/Facebook.php#L63
which seems pretty wrong given what the FB's Graph API says regarding the `gender` field  https://developers.facebook.com/docs/graph-api/reference/user.

So the the value coul

[2019-09-15 16:53] heiglandreas commented on #94
In that case the method would return `unknown` instead of NULL. On the consumer side you *always* get a string back. The consumer anyhow needs to decide what to do with that string. But the API now is much clearer on what the consumer will get.

[2019-09-15 17:01] ADmad commented on #94
Values for all other properties can be `null` so there's no problem allowing the return value of `getGender()` to be `null` too.

[2019-09-15 17:09] heiglandreas commented on #94
Yeah. Not all. There are a lot of propreties that can – according to their docblock – not be `null` . But according to the code they can actually be *anything*  as they are public properties, so anyone can alter them and set any type one wants. That is a completely different discussion IMO.

Still: A dedicated type that is not nullable for a valid reason is a much cleaner and explicit approach and

[2019-09-15 17:16] ADmad commented on #94
Always returning `unknown` prevents differentiating between whether the provided returned `unknown` (for e.g. `none` in case of Meetup) or the provider doesn't allow / has ability to return gender at all.

Anyway considering the values possible values returned by providers it would be best to have two methods to get the gender. One that returns the marshalled value and another that returns the raw

[2019-09-15 17:23] heiglandreas commented on #94
That was the idea  I proposed in https://github.com/SocialConnect/auth/issues/94#issuecomment-531580313 - be able to get the value that was set if it is `self::GENDER_OTHER`

[2019-09-15 17:23] ADmad commented on #94
Personally I would just return the raw values and let the users marshal / convert it to standard values depending on what's used in their apps.

[2019-09-15 17:24] heiglandreas commented on #94
That problem is already existent with the `null` return value.

[2019-10-14 18:23] githubov opened #97 "Linkedin "API response with error code""
![Screenshot_3](https://user-images.githubusercontent.com/55645208/66773907-fbbc8880-eee1-11e9-9953-982bb06f6065.png)

facebook twitter working but problem with linkedin :(

[2019-10-14 18:24] githubov commented on #97
linkedin authentication success but when try to fetch user info like name, picture not working show error.

[2019-10-14 18:26] githubov commented on #97
`		'linkedin'  => [
			'applicationId'     => '81******cj**9t',
			'applicationSecret' => 'zxE*****M4**sU',
			'scope'             => array('r_liteprofile', 'r_emailaddress')
		],`

[2019-10-14 18:29] ovr commented on #97
@githubov what version are you using?

[2019-10-14 19:26] ovr commented on #97
I review this on my local machine and found that LinkedIn drop `v1` API

I've prepared a new patch release `3.0.1` with fixes for it
Related to 1.x/2.x branch, probably I need a help with back porting it

Thanks

[2019-10-15 03:07] githubov commented on #97
THANK YOU **OVR** Working Now :)

[2019-10-15 03:07] #97 closed

[2019-10-18 18:25] githubov opened #100 "How to extends functionality of any provider?"
I am very new with I success full login with any provide.
but twitter image upload use different api.
I want to extend functionality of Twitter provider class with my custom one without change core file.
if I update SocialConnect/auth feature maybe I lost my customization.
I need help on this.

Thank You.
Great PHP LIB SocialConnect/auth

[2019-10-18 21:31] ovr commented on #100
Hey!

I didn't understand nothing, can you clarify what are you trying to reach and where is a problem
You can mention code/examples

Thanks

[2019-10-19 04:02] githubov commented on #100
Code are all right I need to add some methods on Provider Twitter class so that it can upload image and make a tweet.

[2019-10-21 17:19] ovr commented on #100
I highly recommend creating an external class called service and don't try to create a provider that extends twitter one

Example

[code]

[code]

[2019-11-21 19:48] bharath5412 opened #102 "Architecture in README file refers to localhost"
When tried to click on the architecture in Features -> Modular section in README, it redirects to localhost:4000/architecture.html.

[2019-11-21 20:18] ovr commented on #102
Thank you, fixed!

[2019-11-21 20:18] #102 closed

[2020-01-16 13:38] jkohon opened #103 "Instagram API login"
Hi! any examples of configuration for instagram api login?

[2020-01-16 13:39] ovr commented on #103
Hey!

Pretty similar, example: https://github.com/SocialConnect/auth/blob/3.x/example/config.php.dist#L77

[2020-01-16 13:44] jkohon commented on #103
Tried that out. No setting scope and fields. Getting provider failure response.
Using this plugin whit extended plug in : https://github.com/ADmad/cakephp-social-auth/

[2020-01-24 11:11] ovr commented on #103
So I've tested 1.x/3.x branch and Instagram works on my local machine

Take a look at provider response, this should return error message
Maybe wrong configuration...

BTW:

cakephp-social-auth - use a legacy branch, i drop support for it

@ADmad is there any chance that you will migrate to 3.x branch?

Thanks

[2020-01-24 13:56] ADmad commented on #103
@ovr The new CakePHP 4 compatible branch of my plugin does use `socialConnect/auth` v3 https://github.com/ADmad/cakephp-social-auth/blob/cake-4.x/composer.json#L7

[2020-01-24 13:57] ovr commented on #100
I am going close this issue because example was provided above and no replies

Thanks

[2020-01-24 13:57] #100 closed

[2020-01-28 14:27] tomaluca95 opened #104 "Facebook first_name and last_name are null"
With facebook first_name and last_name are null but using cURL I got values

[2020-01-29 13:40] ovr commented on #104
Hey!

What version are you using? Did you specify `first_name` and `last_name` in `identity.fields` inside `options`?

Thanks

[2020-01-30 09:07] tomaluca95 commented on #104
Thanks, was that!

I have also issues with `birthday`, adding the field in `identity.fields` don't fix that. Can you help me on that?

[2020-01-30 09:21] ovr commented on #104
@tomaluca95 Fixed in `3.1.2`, please update

And don't forget that you should specify `birthday` in `identity.fields` + specify `user_birthday` in `scope` (it's needed additional actions in facebook developer site)

Thanks

[2020-01-30 09:21] #104 closed

[2020-02-13 10:12] Ferikl opened #107 "Documentation is not correct"
Hey!

### Issue

In documentation we have:
[code]

But it should be:
[code]

Just change class from `new \SocialConnect\Common\Http\Client\Cache` to  `new \SocialConnect\HttpClient\Cache`

### My env

PHP: 7.4

Library: socialconnect/http-client

Thanks :smiley_cat:

[2020-02-13 10:30] ovr commented on #107
Nice catch, thank you!

Fixed, deploy.

[2020-02-13 10:30] #107 closed

[2020-02-23 09:21] dlednik opened #108 "How can I set User Agent for Github login"
### Issue
I upgraded CakePHP to v4 and with that auth plugin gets upgraded too to version 3.1.

Is there a way to add User-Agent to the github login configuration?
After upgrade I get this error when trying to login:
[code]
On old CakePHP version 3.8 auth plugin vas version 1.2 (if i remember correctly) and login was working.

### My env

PHP: 7.2.x

Library: 3.1

Provider: github

Provider option

[2020-02-23 09:56] ovr commented on #108
Tested GitHub on demo site, https://sc.lowl.io/, it works (but it's working on own https://github.com/SocialConnect/http-client)

1. Related to `User-agent`, It's defined in `Http\Client` that you use

For cake plugin from @ADmad it's working on top of `Cacke\Client`

![image](https://user-images.githubusercontent.com/572096/75110161-b2243d00-563b-11ea-8000-a1286a1edfa8.png)

You should mutate the

[2020-02-23 09:58] ADmad commented on #108
@ovr Your `\SocialConnect\HttpClient\Curl` http client class sets user agent through curl options hence you might have not encountered this error.

My plugin uses CakePHP's http client which doesn't set user agent by default which causes this issue.

IMO the request instance created by Github provider should have the `User-Agent` header to avoid this problem.

[2020-02-23 10:11] ADmad commented on #108
@ovr I had typed previous response before I saw yours :slightly_smiling_face:

Setting the user agent in http client itself wouldn't be the right thing. What if someone else using `socialconnect/auth` uses another http client?  He wouldn't know that setting user agent is required for Github as I didn't.

Hence as I mentioned earlier it's the `Github` provider which should handle setting the `User-

[2020-02-23 10:36] ovr commented on #108
1 if you are speaking about default user-agent in http-client

We dont know that: Did used HTTP client setup `User-Aget` or not

For this case: there are only two variants for use: set or not to set.

if we will setup it in Provider, we should add an ability in configuration to change it, it's why it's more easy to do it on client side

2. If we will setup User\Agent, this will be not a real user

[2020-03-17 04:20] mastercoms opened #111 "Implement Patreon provider"
https://docs.patreon.com/#oauth

[2020-03-20 08:36] ovr commented on #108
Sorry for late reply, workaround released in 3.1.3

@dlednik can you aprove that it's working now?

Thanks

[2020-04-18 10:23] ArabCoders opened #113 "E_NOTICE in OAuth1:Twitter"
Hello,

There is an E_NOTICE in OAuth1:Twitter when User denies access.

(E_NOTICE) in (/vendor/socialconnect/auth/src/OAuth1/AbstractProvider.php:267) with message (Undefined index: oauth_verifier).

The fix might be as simple as

[code]

however i wanted to report the error first in case there is a problem with sending empty string to getAccessToken method.

[2020-04-18 10:30] ArabCoders commented on #113
i think we are not handling error in OAuth1 requests correctly.

it seems Twitter adds ``/?denied=token`` if user deines request. instead of usual ``/?token=token``

[2020-04-18 12:06] ArabCoders commented on #113
no longer valid after pull request #115

[2020-04-18 12:06] #113 closed

[2020-04-18 14:03] ovr commented on #108
I am going close this issue due unactivity and unapproved fix from library side.

Thanks!

[2020-04-18 14:03] #108 closed

[2020-04-21 07:04] Ferikl opened #117 "Steam Provider return User with wrong avatar field"
Hey!

Now Steam provider returns `SocialConnect\Common\Entity\User`
with fields: `firstname` and `username`, But Steam response (URL: **'ISteamUser/GetPlayerSummaries/v0002/'**) provides much more information. Like `avatar` and other.

Can you add these **fields** to your User DTO? Or just map correctly `$pictureURL` to Steam `avatar` field.

I suppose its just quick fix in
`SocialConnect\OpenID\P

[2020-04-24 13:33] SimonDevelop opened #118 "InvalidJWT - iat (Issued At) claim is not valid"
Hey!

### Issue

I updated the `socialconnect/auth` package to version 3, I was inspired by the example with slim but I encounter this error when I make the line `$accessToken = $provider->getAccessTokenByRequestParameters($_GET);` :
[code]

in `C:\laragon\www\gcp\vendor\socialconnect\jwx\src\JWT.php` :
[code]

I had never encountered any problems before, I checked that my php time zone is good, o

[2020-04-24 15:08] #117 closed

[2020-04-24 15:08] ovr commented on #117
Hey! Thanks, fixed.

[2020-05-04 20:14] ovr commented on #118
Hey! Sorry for late reply, did you sholve the problem?

I think, you should sync time by ntp or change `JWT::$screw` to big number

Thanks

[2020-05-04 20:26] SimonDevelop commented on #118
Yes I think that the problem comes from there, I have this concern that on windows, probably a problem of adjustment ntp caused by my dual boot with linux

Thanks

[2020-05-04 20:26] #118 closed

[2020-05-04 21:48] ovr commented on #118
Anyway, this issue will be helpful someone to indicate a problem. Next time feel free to create an issue with bug/question or NFR

Thanks

[2020-05-07 23:29] Ilyes512 opened #120 "Read-only subtree package openid-connect is not up-to-date"
Hey,

I was thinking about using this https://github.com/SocialConnect/openid-connect to write my own OpenId Connect provider, but I see it’s not up-to-date with what’s in this main package.

Could it be updated, please? (Hopefully that is automated :)?)

Thanks!

Edit:

I think this might also be the case for it’s dependencies:
[code]

[2020-05-08 08:12] ovr commented on #120
Hello! Wow, forget about this :))

Split is automated, but new releases are not

I will do it now

[2020-05-08 08:57] ovr commented on #120
Done ✅
Check releases, and feel free to close if all is okey

[2020-05-09 16:47] enricalberola opened #121 "PictureURL missing when using Google"
Hi!!

### Issue

I'm using the library admad/cakephp-social-auth to authenticate users with Google id and I've noticed that this library is not storing each user's profile picture.

Looking for info about this error I found that you just fixed a similar issue related to the Steam provider (#117) and debugging it I noticed that adding the reference to this field in Google->getIdentity() fixed it.

[2020-05-13 18:00] ovr commented on #120
ping @Ilyes512

[2020-05-13 18:01] #120 closed

[2020-07-30 15:49] curtisgibby opened #124 "Yahoo OAuth2 has been deprecated"
### Issue

Yahoo! has [EOL'd their OAuth2 ("Social Directory") API](https://developer.yahoo.com/oauth/social-directory-eol/), and is encouraging developers to adopt an [OpenID Connect](https://developer.yahoo.com/oauth2/guide/OpenID2/) pattern for their [user authentication flow](https://developer.yahoo.com/oauth2/guide/get-user-inf/Get-User-Info-API.html).

### My env

PHP: 7.2

Library: ADmad ca

[2020-08-01 15:53] curtisgibby commented on #124
I spent hours last night trying to get the OpenID Connect version of Yahoo's implementation working correctly, but was stymied by decoding the `id_token` that they return. They're giving it back with an algorithm of `ES256`, but the SocialConnect JWX library doesn't support this algo. @ovr can you tell me why this support was [removed](https://github.com/SocialConnect/jwx/commit/8c6921feb8620f5d2e

[2020-08-01 19:34] ovr commented on #124
Hey!

A lot of time passed, I am trying to remember and possible ES was disabled, because I was not able to implement ES keys encoding... (maybe)

This moment,

https://github.com/SocialConnect/jwx/blob/master/tests/JWTTest.php#L228

Who knows 😸

[2020-08-01 19:53] ovr commented on #124
Added ES256/384/512 support back with tests on real EC keys.

Released as  `1.2.0`

Should works I think.

[2020-08-03 15:25] nepster-web commented on #121
+

[2020-08-03 15:40] nepster-web commented on #121
I was creted https://github.com/SocialConnect/auth/pull/125

[2020-08-04 09:27] ovr commented on #121
Thanks @nepster-web for PR
Thanks @enricalberola for bug reporting!

Fix come in `3.1.7` release

[2020-08-04 09:27] #121 closed

[2020-09-07 11:57] haneef95 opened #127 "SocialConnect as a WordPress Plugin?"
Hi,

Are there any projects to wrap the SocialConnect into a WP Plugin?

Thanks

[2020-09-07 12:02] ovr commented on #127
Hey!

I didnt use or plan to use WP. Tryied to quick search something, but didnt find any plugins for it.

[2020-09-17 17:01] gassan opened #128 "About Refresh Token"
Hey!

### Issue

May I implement 2 methods in OAuth2\AbstractProvider?

[code]
and
[code]

[2020-09-20 20:22] ovr commented on #124
ping @curtisgibby

[2020-10-15 07:53] dmitrymenshikov opened #132 "How to get an email from a VK provider?"
Hey!

How to get email from auth via vk provider?

The email is not pulled in the \SocialConnect\OAuth2\AccessToken, and the parameters from the "scope" are ignored.

Tnx!

[2020-10-15 08:58] ovr commented on #132
Hello @dmitrymenshikov,

It's a bug, after a small research, I found that I removed code inside `Provider\Vk` that store `$email` as protected property and populates it inside `getIdentity` method.

[2020-10-15 09:10] dmitrymenshikov commented on #132
@ovr Wonderful! Thank you for your promptness!

[2020-10-15 09:20] ovr commented on #132
Fixed/Released in `3.2.1`, please try it and feel free to close this issue.

Thanks

[2020-10-15 09:31] dmitrymenshikov commented on #132
All is good. The problem has been resolved.

[2020-10-15 09:31] #132 closed

[2020-10-19 11:21] dmitrymenshikov opened #134 "Mailru provider does not receive email field"
Hey!

There is no corresponding setting in \SocialConnect\OAuth2\Provider\MailRu::getIdentity()

[2020-10-19 12:52] ovr commented on #134
Can you try `v3.2.2`? Thanks

[2020-10-20 05:56] dmitrymenshikov commented on #134
It's works, thank you!

[2020-10-20 05:56] #134 closed

[2020-10-20 06:02] dmitrymenshikov opened #136 "Parameters are not passed to the request to the ok.ru provider."
Hello! It's me again :)

### Issue

There is one more little problem. When requesting data from the provider ok.ru, parameters are not transferred to the request.

### My env

PHP: 7.4

Library: oauth2

Provider: odnoklassniki

Thanks :smiley_cat:

[2020-10-21 12:56] agungsugiarto opened #138 "iat (Issued At) claim is not valid"
### Issue

iat (Issued At) claim is not valid. How i do to increase `$screw` from JWT class ?

[code]

### My env

PHP: 7.2

Library:
- "socialconnect/auth": "^3.2"
- "socialconnect/http-client": "^1.0"

Provider: google

Provider options:

[code]

Thanks :smiley_cat:

[2020-10-26 09:58] MaPePeR opened #139 "OpenIdConnect JWT "kid" is not optional for single key keysets."
Hey!

### Issue

I'm implementing a OpenIDConnect Provider for [Unity IDM](https://www.unity-idm.eu/) and encountered the problem, that the JWT `kid` header attribute is required, even if the `jwks_uri` only returns a single key.

An `InvalidJWT('No kid inside header, but $privateKeyOrSecret specified as JWKSet')`-Exception is thrown.

The [`OpenIDConnect/AbstractProvider::getJWKSet`](https://gith

[2020-10-27 14:24] MaPePeR commented on #139
The easy fix would be:
[code]

But that would be a backwards incompatible fix, because it would break for the case where a `kid` is provided, but only one key is present?

I think the better solution would be to add a method to JWKSet that returns all the keys and allow `kid` to not be set, when there is only one key in the set? But that would have to be changed in SocialConnect/jwx

[2020-11-16 12:06] MaPePeR opened #141 "Example suggests multiple providers based on keycloak with different names, but that doesn't work."
Hey!

### Issue

The [example configuration](https://github.com/SocialConnect/auth/blob/master/example/config.php.dist#L237-L247) suggests one could use the `name` attribute in the provider configuration to configure multiple providers based on keycloak, but that doesn't work, because the `name` property is ignored.

[code]

### My env

PHP: ~please write it~

Library: SocialConnect/Auth

Provider

[2020-11-17 21:36] Det7 opened #142 "SocialConnect\HttpClient\Curl not found"
Hey!

### Issue

First time tried setting up SocialConnect. I was following the steps here:
https://socialconnect.lowl.io/installation.html

and got stuck after this:
composer require socialconnect/http-client

as my index.php is getting error in this line:
`$httpClient = new \SocialConnect\HttpClient\Curl();`

`"SocialConnect\HttpClient\Curl not found"`

I did some checks inside the SocialConnect

[2020-11-22 02:59] Det7 commented on #142
have resolved it.

I just re-ran the installation from step 1:

`$ curl -sS https://getcomposer.org/installer | PHP`

`composer require socialconnect/http-client`

and below line in index.php wasn't throwing errors anymore:

[code]

[2020-11-22 03:00] #142 closed

[2020-11-22 03:02] Det7 opened #143 "Slim\App not found"
Hey!

Issue
First time tried setting up SocialConnect. I was following the steps here:
https://socialconnect.lowl.io/installation.html

and got stuck after this:
composer require socialconnect/http-client

as my index.php is getting this error `Fatal error: Uncaught Error: Class 'Slim\App'` not found, in below line:
`$app = new \Slim\App(`

how can I verify if this class is existing?

My env
PHP:

[2020-11-23 10:57] ovr commented on #143
It's not the SocialConnect class. If you are trying to use `example` inside repository, you should execute `composer install` inside `example` directory.

[2020-11-23 11:05] ovr commented on #139
@MaPePeR Sorry for late reply.

I think it's better to override `parseToken` inside your provider.

https://github.com/SocialConnect/auth/blob/2c13ecf9dd9c32a95e968272904b37a34347fcb2/src/OpenIDConnect/AbstractProvider.php#L89

What do you think? Thanks

[2020-11-23 11:41] MaPePeR commented on #139
Hi,

thanks for your response.

Overwriting `parseToken` is my workaround at the moment, but for that to work i have to pretty much duplicate the code of the the `AbstractProvider::parseToken` and the code of the `AbstractProvider::getJWKSet` methods in my provider, just to change one function argument:

[code]

Duplicating code like that is not a very good style, i think. But maybe I'm missing so

[2020-11-23 12:33] ovr commented on #139
I implemented `Countable` interface for `JWKSet`, refs https://github.com/SocialConnect/jwx/commit/d529b459a547a358bddda1460d6ae98d43f0d6e2

I think we should introduce a new method for it, but I am thinking about a name for it.

Maybe `getFirstForOnlyOne` (will throw exception if `count($this->keys) > 0`), what do you think?

After it will be possible to use default implementation for `getJWKSet`

[2020-11-23 13:41] MaPePeR commented on #139
Maybe something like `hasDefault() => count($set) == 1` and `getDefault` that throws if there is no Default.

And then in [`JWT::validateHeaders`](https://github.com/SocialConnect/jwx/blob/d529b459a547a358bddda1460d6ae98d43f0d6e2/src/JWT.php#L177-L185) something like:

[code]

Something similar would have to be done in [`JWT::verifySignature`](https://github.com/SocialConnect/jwx/blob/d529b459a547

[2020-11-23 13:44] ADmad commented on #139
Adding new methods `hasDefaultKey(): bool` (which checks if count = 1) and `getDefaultKey()` sounds reasonable to me. `getDefaultKey()` would throw an exception if key count > 1.

[2020-12-04 15:58] s0lus opened #144 "The Instagram Legacy API is deprecated. (?)"
Hey!

Looks like Instagram provider is no longer available as login method.

See:

[Link 1](https://www.instagram.com/developer/changelog/)

![Снимок экрана 2020-12-04 в 18 48 54](https://user-images.githubusercontent.com/4124371/101184206-8077e200-3661-11eb-8170-044e5acf490c.png)

[Link 2](https://developers.facebook.com/docs/instagram-basic-display-api)
![Снимок экрана 2020-12-04 в 18 50 45](htt

[2021-03-22 21:24] wooky opened #145 ""Undefined index: emails" in Microsoft provider when email is not requested"
Hey!

### Issue

I have my scope set to `['wl.basic']` because I don't need to get the user's email. This causes an exception to be thrown:
[code]

Adding 'wl.emails' to the scope makes it go away, but I don't need email. Instead, replacing `$response['emails']` on line 68 with `isset($response['emails'])` would fix the issue altogether.

### My env

PHP: 7.4.14

Library: socialconnect/auth 3.2.2

[2021-04-15 07:47] fawaztahir commented on #138
`$screw` is a static public property. You can directly overwrite its value.

`\SocialConnect\JWX\JWT::$screw = 4;`

[2021-05-15 15:39] fsmoak opened #147 "Response - Caching & Body as Stream"
Hey!

### Issue

Getting Requests from Cache cannot restore the response-body because it's a stream (php://temp)

### My env

PHP: 7.4

Library: socialconnect/http-client + socialconnect/auth

Provider: azuread

Provider options:
none.
[code]

Thanks :smiley_cat:

[2021-05-20 21:31] #143 closed

[2021-06-11 11:22] MaPePeR commented on #139
I created the pull request SocialConnect/jwx#3 to address this.

[2021-07-19 14:59] makkus183 opened #155 "GitLab Provider id hydrator mapping not working"
Hey!

### Issue
I am using the [CakePHP SocialAuth Plugin](https://github.com/ADmad/cakephp-social-auth) and had the same error as mentioned [here](https://github.com/ADmad/cakephp-social-auth/issues/99#issuecomment-839409797) when using the GitLab Provider.

The hydrator mapping inside the GitLab Provider in `getIdentity()` is not working, `user_id` is `null`

### My env

PHP: `7.4`

Library: aut

[2021-07-19 17:47] makkus183 opened #157 "Update GitLab Provider API Version"
Hey!

### Issue
The GitLab API V3 is [no longer supported](https://gitlab.com/api/v3/). and returns:

[code]
### My env

PHP: `7.4`

Provider: GitLab

Provider options:

Thanks :smiley_cat:

[2021-07-19 17:51] #155 closed

[2021-07-19 17:52] ADmad commented on #157
You don't really need to open an issue if you are going to open a PR shortly after :)

[2021-07-19 17:56] makkus183 commented on #157
Oh ok, sorry :) I thought a PR has to be related to an issue. As you already recognized i am quite new in the contrib business on github :)

[2021-07-19 17:57] ADmad commented on #157
No worries, thanks for the PRs.

[2021-07-19 17:57] #157 closed

[2021-08-17 18:01] newlord-32 opened #160 "Keycloak Authentication not working"
Hey!

### Issue

Keycloak not working, but configured right. I'm getting this error:

![Screenshot_20210817_200001](https://user-images.githubusercontent.com/83864565/129777186-6d4f23c2-5472-4a28-a0ca-463794be5469.png)

### My env

PHP: 7.4 (FPM)

Provider: Keycloak

Maybe someone can help, I tried a lot but no solution. Maybe it worked for someone.

Thanks :smiley_cat:

[2021-10-08 14:18] nepster-web opened #162 "Facebook picture is always 50px"
Hey!

### Issue

After login facebook picture is always 50px why is this happening?

### My env

PHP: any

Library: latest

Provider: facebook

Provider options:

[code]

Thanks :smiley_cat:

[2021-10-14 14:09] nhung-le opened #163 "Nonce check keeps failing openID"
Hey!

### Issue

I'm using openID package from this to connect to steam, and it keeps failing when I debugged in it failed at https://github.com/SocialConnect/auth/blob/e5cf45cebfecb7bfbf755e1a38900202bd76c177/src/OpenID/AbstractProvider.php#L136
The cause is when we call to
https://github.com/SocialConnect/auth/blob/e5cf45cebfecb7bfbf755e1a38900202bd76c177/src/OpenID/AbstractProvider.php#L121 on

[2021-10-17 03:02] #163 closed

[2022-01-12 13:44] #139 closed

[2022-03-01 14:34] DenisMir opened #169 "How to use the refresh token?"
I am using the library in version 3.3.2 with Keycloak (OpenID Connect) as a provider.

What is the correct way to use the refresh token? Is there no refresh mechanism implemented or do I miss something?

[2022-04-28 04:38] alex-ng-wesoft opened #171 "Support PKCE (RFC 7636)"
Per the current [OAuth 2.0 Security Best Current Practice](https://datatracker.ietf.org/doc/html/draft-ietf-oauth-security-topics-19#section-2.1.1):
[code]

It would be nice for this library to implement PKCE so the best current practice is followed.
In addition, the current [OAuth 2.1 draft](https://datatracker.ietf.org/doc/html/draft-ietf-oauth-v2-1-05) requires PKCE, so implementing support now

[2022-04-28 04:38] alex-ng-wesoft commented on #171
FWIW I have already implemented PKCE support for Azure AD in a local project, and I'm willing to upstream the applicable parts if it helps.
Note that if I do upstream the changes I will limit support to just AAD since I'm not in a position to test all the other providers.

[2022-05-05 13:43] ff-springcard opened #172 "Dependecy issue CakePhp 4.x"
Hey!

### Issue

Through [ADmad/cakephp-social-auth](https://github.com/ADmad/cakephp-social-auth), `cakephp-social-auth` requires  `psr/simple-cache ^1.0`
but `cakephp/cakephp ^4.0` requires `psr/simple-cache ^2.0`

Could you update composer.json file to `psr/simple-cache ^1.0 || ^2.0` please.

### My env

PHP: 8.1

Library:  cakephp/cakephp ^4.0 ; ADmad/cakephp-social-auth ^1.0 ; SocialConnect/c

[2022-05-07 12:09] #172 closed

[2022-05-11 06:41] ldim87 opened #175 "VK Provider version update to 5.81"
Hey!

### Issue

VK provider is throwing an error due to version error. Please update it to '5.81'.

( ! ) Warning: Undefined property: stdClass::$response in /www/vendor/socialconnect/auth/src/OAuth2/Provider/Vk.php on line 119
Call Stack
...
SocialConnect\OAuth2\Provider\Vk->getIdentity( $accessToken = class SocialConnect\OAuth2\AccessToken { protected $token = 'xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

[2022-05-20 15:39] Morbids opened #176 "Facebook connection error"
Hey!

### Issue

Facebook connection error

Fatal error: Uncaught SocialConnect\OAuth2\Exception\InvalidState: State parameter inside Request is not similar to value from Session, possible CSRF attack in /var/www/***/system/library/social/vendor/socialconnect/auth/src/OAuth2/AbstractProvider.php:167 Stack trace: #0 /var/www/***/catalog/controller/extension/module/sociallogin.php(264): SocialConnec

[2022-05-20 15:42] Morbids opened #177 "Twitter connection error"
Hey!

### Issue

Twitter connection error

Fatal error: Uncaught TypeError: Argument 1 passed to SocialConnect\OAuth1\AbstractProvider::getAccessToken() must be an instance of SocialConnect\OAuth1\Token, instance of __PHP_Incomplete_Class given, called in /var/www/***/system/library/social/vendor/socialconnect/auth/src/OAuth1/AbstractProvider.php on line 273 and defined in /var/www/***/system/libr

[2022-10-16 11:12] nepster-web opened #181 "What about to add new providers?"
I think it's a good idea to add new providers (they are very popular now).

Telegram - https://telegram.org

Metamask - https://metamask.io

What does the community and the author think?